header{
    font-family: "Jost", sans-serif;
}


.navbar{
    background-color: rgb(255, 255, 255);
    font-size: 14px;
}




.search1:hover{
    cursor: pointer;
    
}
.navbarValues11{
    margin-right: 25px;
    color: rgb(98, 98, 98);
    letter-spacing: 1px;
    font-size: 12px;
}


























.homeAnchorTag{
    text-decoration: none;
    color: rgb(98, 98, 98);
}

.homeAnchorTag:hover{
    text-decoration: underline 1px solid;
    cursor: pointer;
    color: black;
}
.AboutUsAnchorTag{
    text-decoration: none;
    color: rgb(98, 98, 98);
}

.AboutUsAnchorTag:hover{
    text-decoration: underline 1px solid;
    cursor: pointer;
    color: black;
}





.contactUsAnchorTag{
    text-decoration: none;
    color: rgb(98, 98, 98);
}

.contactUsAnchorTag:hover{
    text-decoration: underline 1px solid;
    cursor: pointer;
    color: black;
}
.FaqsAnchorTag{
    text-decoration: none;
    color: rgb(98, 98, 98);
}

.FaqsAnchorTag:hover{
    text-decoration: underline 1px solid;
    cursor: pointer;
    color: black;
}
.BlogsAnchorTag{
    text-decoration: none;
    color: rgb(98, 98, 98);
}

.BlogsAnchorTag:hover{
    text-decoration: underline 1px solid;
    cursor: pointer;
    color: black;
}












.navbarValues1{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.navbarValues{
    padding: 10px 0;
}

.imagelogo:hover{
    cursor: pointer;
}

.loginicon:hover{
    transform: scale(1.07);
}

.shopingbagicon:hover{
    transform: scale(1.07);
}














.FranchiseSection{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.FRS{
    padding-top: 20px;
}
.FRS1{
    padding-top: 20px;
}

.FranchiseSection-a{
    display: block;
    background-color: rgb(255, 255, 255);
    
}
.FranchiseSectionMainText{
    font-size: 36px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    padding-top: 20px;
    text-align: center;
}
.WHO-WE-ARE{
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    padding-top: 50px;
    text-align: start;
}
.WHO-WE-ARE1{
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    padding-top: 30px;
    text-align: start;
}
.FranchiseTopics{
    font-size: 11px;
    font-family: "Jost", sans-serif;
    font-weight: 600;
    color: rgb(85, 85, 85);
    letter-spacing: 0.5px;
}
.FranchiseTopics1{
    padding-top: 30px;
}
.FranchiseTopics2{
    padding-top: 50px;
}
.franhiseTextSection{
    font-size: 10px;
    font-family: "Jost", sans-serif;
    color: rgb(85, 85, 85);
    letter-spacing: 0.5px;
    line-height: 20px;
    padding-top: 10px;

}
.FranchiseTopics3{
    padding-top: 30px;
}
.FranchiseText1{
    font-size: 10px;
    font-family: "Jost", sans-serif;
    color: rgb(85, 85, 85);
    letter-spacing: 0.5px;
    line-height: 20px;
    padding-top: 10px;
}
.FranchiseText2{
    font-size: 10px;
    font-family: "Jost", sans-serif;
    color: rgb(85, 85, 85);
    letter-spacing: 0.5px;
    line-height: 20px;
    padding-top: 30px;
}
.arrehmanfragrances{
    text-decoration: underline 0.3px;
    color: rgb(79, 78, 78);
    font-family: "Jost", sans-serif;
    font-size: 10px;

}
.arrehmanfragrances:hover{
    color: rgb(49, 49, 49);
}

.website{
    color: rgb(118, 118, 118);
}







.faqs11{
    font-size: 12px;
}
.faqs1{
    font-size: 13px;
}
.navbarValues11{
    margin-right: 25px;
    color: rgb(98, 98, 98);
    letter-spacing: 1px;
    font-size: 12px;
}

.faqs11{
    font-size: 12px;
}
.faqs1{
    font-size: 13px;
}
.navbarValues11{
    margin-right: 25px;
    color: rgb(98, 98, 98);
    letter-spacing: 1px;
    font-size: 12px;
}


.section11div1Number{
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    margin-top: 20px;
    color: rgb(88, 88, 88);

}

.section11div1Number:hover{
    color: rgb(40, 40, 40);
    text-decoration: underline 0.5px;
}
.section11div1Email{
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    margin-top: 20px;
    color: rgb(88, 88, 88);
}

.div1email{
    color: rgb(88, 88, 88);
    font-style: normal;
}
.div1Emaillink{
    text-decoration: none;
}


.div1Number{
    color: rgb(88, 88, 88);
    font-style: normal;
}

.div1Numberlink{
    text-decoration: none;
}

.div1Emaillink:hover{
    color: rgb(40, 40, 40);
    text-decoration: underline 0.5px;
}







.section11{
    height: 450px;
    border-top: 0.2px solid rgb(224, 224, 224);
    border-bottom: 0.2px solid rgb(224, 224, 224);
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;

}
.section11-b{
    display: block;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    gap: 40px;
    margin-top: 20px;
    
}








.largelogo{
    margin-top: 10px;
}

.section11div1Text{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-top: 10px;
}

.section11div1Number{
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    margin-top: 20px;
    color: rgb(88, 88, 88);

}

.section11div1Number:hover{
    color: rgb(40, 40, 40);
    text-decoration: underline 0.5px;
}
.section11div1Email{
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    margin-top: 20px;
    color: rgb(88, 88, 88);
}

.div1email{
    color: rgb(88, 88, 88);
    font-style: normal;
}
.div1Emaillink{
    text-decoration: none;
}


.div1Number{
    color: rgb(88, 88, 88);
    font-style: normal;
}

.div1Numberlink{
    text-decoration: none;
}

.div1Emaillink:hover{
    color: rgb(40, 40, 40);
    text-decoration: underline 0.5px;
}




.section11div2Text{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-top: 10px;
}



.footerlists{
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    line-height: 30px;
    color: rgb(88, 88, 88);
    padding-top: 20px;
}
.FooterFranchisePage{
    text-decoration: none;
    color: rgb(88, 88, 88);
}
.FooterFranchisePage:hover{
    text-decoration: underline 0.5px;
    color: rgb(40, 40, 40);
}





.footerContactUs{
    text-decoration: none;
    color: rgb(88, 88, 88);
}
.footerContactUs:hover{
    text-decoration: underline 0.5px;
    color: rgb(40, 40, 40);
}

.footerFAQS{
    text-decoration: none;
    color: rgb(88, 88, 88);
}
.footerFAQS:hover{
    text-decoration: underline 0.5px;
    color: rgb(40, 40, 40);
}

.footerAboutUs{
    text-decoration: none;
    color: rgb(88, 88, 88);
}
.footerAboutUs:hover{
    text-decoration: underline 0.5px;
    color: rgb(40, 40, 40);
}
.footerBlogs{
    text-decoration: none;
    color: rgb(88, 88, 88);
}
.footerBlogs:hover{
    text-decoration: underline 0.5px;
    color: rgb(40, 40, 40);
}

.footerTermsOfService{
    text-decoration: none;
    color: rgb(88, 88, 88);
}
.footerTermsOfService:hover{
    text-decoration: underline 0.5px;
    color: rgb(40, 40, 40);
}
.footerShippingPolicy{
    text-decoration: none;
    color: rgb(88, 88, 88);
}
.footerShippingPolicy:hover{
    text-decoration: underline 0.5px;
    color: rgb(40, 40, 40);
}
.footerRefundPolicy{
    text-decoration: none;
    color: rgb(88, 88, 88);
}
.footerRefundPolicy:hover{
    text-decoration: underline 0.5px;
    color: rgb(40, 40, 40);
}
.footerPrivacyPolicy{
    text-decoration: none;
    color: rgb(88, 88, 88);
}
.footerPrivacyPolicy:hover{
    text-decoration: underline 0.5px;
    color: rgb(40, 40, 40);
}



.instagram:hover{
    transform: scale(1.07);
}


.facebook:hover{
    transform: scale(1.07);
}

















.socialicons{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    position: relative;
    bottom: 50px;

}















.lastdiv{
    height: 40px;
    display: flex;
    justify-content: center;
    font-size: 8px;
    color: rgb(118, 118, 118);
    letter-spacing: 0.4px;
    font-family: "Jost", sans-serif;
    padding-top: 25px;
}
.sadam{
    text-decoration: underline 0.3px;
    color: rgb(118, 118, 118);
    padding-top: 12px;
}
.designedBy{
    padding-top: 4px;
}
.sadam:hover{
    color: rgb(49, 49, 49);
}
.sadam:visited{
    color: rgb(118, 118, 118);
}
.arrehmanfragrances{
    text-decoration: underline 0.3px;
    color: rgb(118, 118, 118);

}
.arrehmanfragrances:hover{
    color: rgb(49, 49, 49);
}
.lastText{
    padding-top: 5px;
}

.website{
    color: rgb(118, 118, 118);
}